.nav{
  background-color:orange
}

.navbar{
  background-color: orange;
}


.carousel{
  height: 100vh;
  min-height: 300px
}

.carousel-item{
  height: 100vh;
  min-height: 300px;
}


section {
  margin-top: 20px;
}

.card-img-top{
  
  height:200px;
  width:100%;
  object-fit: contain;
 
}
.card{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

a{
  cursor: pointer;
}


